{% extends 'chat/base.html' %}
{% block header %}
プロファイル設定
{% endblock %}

{% block content %}
    <form method="POST" action="" enctype='multipart/form-data'>
        {% csrf_token %}
        <div class="label">
            Display name: 
        </div>
        <div class="box">
            {{form2.name}}
        </div>
        <div class="label">
            Phone number: 
        </div>
        <div class="box">
            {{form2.phone}}
        </div>
        <div class="label">
            Profile image: 
        </div>
        <div class="box">
            {{form2.profile_image}}
        </div>
        <button class='but' type="submit" name="Create User">完成する</button>
        {% for field in form1 %}
        {% for error in field.error %}
        <p class="help is_danger">{{error}}</p>
        {% endfor %}
    {% endfor %}
    </form>
{% include 'chat/message.html' %}
{% endblock %}