{% extends 'main/base.html' %}
{% block header %}
ログイン
<hr>
{% endblock %}

{% block content %}
<form method="POST">{% csrf_token %}
    <div class="set">
        <div class="label">
        Username:
        </div>
        <div class="box">
            {{form.username}}
        </div>
        <div class="label">
        Password:
        </div>
        <div class="box">
            {{form.password}}
        </div>
    </div>
    {% include 'main/message.html' %}
    <button class='but' type="submit" name="Create User">ログイン</button>
</form>
{% endblock %}