{% extends 'main/base.html' %}
{% block header %}
会員登録
<hr>
{% endblock %}

{% block content %}
<form method="POST" action="" enctype='multipart/form-data'>
    {% csrf_token %}
    {% for non_field_errors in form.non_field.errors %}
    <p class="help is_danger">{{non_field_errors}}</p>
    {% endfor %}
    
<div class="set">
    <div class="label">
        Username: 
    </div>
    <div class="box">
        {{form.username}}
    </div>

    <div class="label">
        Email:
    </div>
    <div class="box">
        {{form.email}}
    </div>

    <div class="label">
        Password: 
    </div>
    <div class="box">
        {{form.password1}}
    </div>
    <div class="label">
    Password confirm:
    </div>
    <div class="box">
    {{form.password2}}
    </div>
    <div class="label">
        Profile image
    </div>
    <div class="box">
        {{form.profile_image}}
    </div>
</div>
{% include 'main/message.html' %}
    <button class='but' type="submit" name="Create User">登録する</button>
</form>
{% endblock %}